ML-Workflow/step_function.json
{
  "Comment": "A description of my state machine",
  "StartAt": "SerializeImageData",
  "States": {
    "SerializeImageData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:459074170419:function:serializeImageData:$LATEST"
      },
      "Next": "PredictImageLabel"
    },
    "PredictImageLabel": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:459074170419:function:classificationFunction:$LATEST"
      },
      "Next": "FilterLowConfidenceInference"
    },
    "FilterLowConfidenceInference": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:459074170419:function:ConfidenceFunction:$LATEST"
      },
      "End": true
    }
  }
}